@import url('~bootstrap/dist/css/bootstrap.css');

/* TODO */

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1574970324184-746b18c8bd49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

  background-position: 0 -300px;
  color: white;
}

footer {
  background-color: lightgrey;
  padding-top: 5px;
  border-top: 1px solid black;
}